@model UAndes.ICC5103._202301.Models.Multipropietario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Multipropietario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comuna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comuna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manzana)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manzana)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RolPredial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RolPredial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RutPropietario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RutPropietario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PorcentajeDerechoPropietario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PorcentajeDerechoPropietario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnoInscripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnoInscripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroInscripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroInscripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInscripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInscripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnoVigenciaInicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnoVigenciaInicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnoVigenciaFinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnoVigenciaFinal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
