@model IEnumerable<UAndes.ICC5103._202301.Models.Multipropietario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Comuna)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manzana)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RolPredial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RutPropietario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PorcentajeDerechoPropietario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Foja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnoInscripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroInscripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaInscripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnoVigenciaInicial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnoVigenciaFinal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Comuna)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manzana)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RolPredial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RutPropietario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PorcentajeDerechoPropietario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Foja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnoInscripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroInscripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaInscripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnoVigenciaInicial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnoVigenciaFinal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
